*.xcuserstate
project.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
project.xcworkspace/
xcuserdata/
UserInterface.xcuserstate
# Build folder and log file
build/
build.log
# Google App Engine generated folder
appengine-generated/